body {
	font: 10px Helvetica Neue, Helvetica, Arial;
	width: 960px;
	margin: 0 auto;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.x.axis path {
	display: none;
}

.line {
	fill: none;
	stroke: #d3d3d3;
	stroke-width: 1.5px;
}

.season-14-15 {
	stroke-width: 2.5px;
}

.wrapper {
	width: 860px;
	margin: 40px 50px 80px;
}

.wrapper input {
	width: 100%;
}

.wrapper p {
	font-weight: 700;
	font-size: 14px;
	text-align: center;
}

.header {
	margin-left: 95px;
	margin-bottom: 20px;
}

h1 {
	font-size: 28px;
	font-weight: 500;
	margin-bottom: 2px;
	text-decoration: underline;
}

.latest-measurement {
	margin: 0;
	font-size: 14px;
	color: #888;
}

#chart {
	position: relative;
	height: 500px;
}

#context {
	position: absolute;
	top: 18px;
	left: 125px;
}
#context p {
	font-size: 16px;
	margin: 0 0 3px;
	color: #888;
}
#current-depth, #avg-depth {
	color: #555;
	position: absolute;
	left: -30px;
}

.about {
	margin: 50px;
}
.about div {
	display: inline-block;
	width: 410px;
}
.about h2 {
	font-size: 22px;
	margin-bottom: 0;
}
.about p {
	margin-top: 5px;
	line-height: 1.3em;
	font-size: 18px;
	font-weight: 300;
	color: #888;
}

div.discussion {
	float: right;
}
#year {
	position: absolute;
	top: 12px;
	right: 50px;
	color: #bbb;
	font-size: 36px;
	margin: 0;
}
.wrapper p.labels {
	font-weight: 400;
	margin: 15px 0 8px;
	position: relative;
	height: 10px;
	font-size: 12px;
}
p.labels span {
	position: absolute;
}
#lower-bound {
	left: -5px;
}
#left-1 {
	left: 205px;
}
#right-1 {
	right: 205px;
}
#upper-bound {
	right: -8px;
}
#middle {
	left: 418px;
}

/* Hiding b/c year is over */
.latest-measurement, #context {
	display: none;
}
