.yearly-trend {
  display: block;
  margin: 0 auto;
}

.yearly-trend .axis--x path {
  display: none;
}

.yearly-trend .line {
  fill: none;
  stroke: #d3d3d3;
  stroke-width: 1px;
}

.highlight .line {
  stroke-width: 2px;
  stroke: #1a1a1a;
}
