.yearly-trend {
  display: block;
  margin: 0 auto;
}

.yearly-trend .axis--x path {
  display: none;
}

.yearly-trend .line {
  fill: none;
  stroke: #d3d3d3;
  stroke-width: 1px;
}

.current .line {
  stroke-width: 2px;
  stroke: #1a1a1a;
}

.comparison .line {
  stroke-width: 2px;
  stroke: #e3624f;
}

.grid-line {
  stroke-width: 1px;
  stroke: white;
}

svg text {
  font-family: Helvetica Neue;
  font-size: 16px;
}

.year-label {
  font-size: 32px;
  font-weight: 300;
}
