body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.top-border {
  position: fixed;
  top: 0;
  height: 2px;
  width: 100%;
  background-color: #e3624f;
}

h1 {
  font-weight: 200;
  text-align: center;
  margin-bottom: 50px;
  font-size: 48px;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

.yearly-trend {
  display: block;
  margin: 0 auto 20px;
}

.yearly-trend .line {
  fill: none;
  stroke: #d3d3d3;
  stroke-width: 1px;
}

.current .line {
  stroke-width: 2px;
  stroke: #e3624f;
}

.comparison .line {
  stroke-width: 2px;
  stroke: #1a1a1a;
}

.grid-line {
  stroke-width: 1px;
  stroke: white;
}

svg text {
  font-family: Helvetica Neue;
}

.year-label {
  font-size: 32px;
  font-weight: 300;
}

#info_pane {
  margin: 30px 0 40px;
}

.year-label {
  font-size: 32px;
  font-weight: 300;
}

.form-control {
  display: inline-block;
  width: auto;
  min-width: 150px;
}

#select-season {
  margin-left: 30px;
}

#select-season-group {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

#select-season-group label {
  font-size: 18px;
  font-weight: 200;
}

#select-season-group p {
  float: right;
}

/* LEGEND STYLING */
#legend_container {
  position: relative;
}

#legend {
  position: absolute;
  width: 100%;
  top: 0;
  left: 50px;
  bottom: 0;
  height: 100px;
}

#legend h4 {
  display: inline-block;
  margin: 0;
  width: 280px;
}

#legend .depth_value {
  display: inline-block;
  width: 50px;
  text-align: right;
  font-size: 24px;
}

#comparisonSeason h4, #comparisonSeason .depth_value {
  color: #1a1a1a;
  font-size: 18px;
}

#currentSeason h4, #currentSeason .depth_value {
  color: #e3624f;
  font-size: 18px;
}

#legend p {
  position: absolute;
  top: 420px;
  right: 0;
  font-size: 10px;
  color: grey;
  margin-top: 10px;
}


.container {
  margin: 0 auto;
  width: 100% !important;
  padding: 0 100px;
  overflow: hidden;
}

@media (max-width: 992px) {
  #legend h4 {
    font-size: 18px;
    width: 180px;
  }
  #legend .depth_value {
    font-size: 18px;
    width: 40px;
  }

  h1 {
    font-size: 32px;
  }
}
  
@media (max-width: 768px) {
  .container {
    padding: 0 10px;
  }
  #legend h4 {
    font-size: 12px;
    width: 120px;
  }
  #legend .depth_value {
    font-size: 12px;
    width: 20px;
  }
  h1 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 16px;
  }
  #select-season-group label {
    font-size: 12px;
  }
  #select-season {
    font-size: 12px;
    margin-left: 10px;
  }
  #legend {
    left: 20px;
  }
}

.line.temperature,
.line.wind_speed,
.line.wind_direction {
  stroke: #e3624f;
}

.mouse-per-line .shadow {
  stroke: white;
  stroke-width: 2.5px;
  fill: black;
  opacity: 0.9
}
