<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Mt. Mansfield Snow Depth</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Snow depth from the top of Vermont">

    <!-- Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/d3.slider.css') }}">

    <style>

        body {
        font: 10px sans-serif;
        }

        .axis path,
        .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
        }

        .x.axis path {
        display: none;
        }

        .line {
        fill: none;
        stroke: #d3d3d3;
        stroke-width: 1.5px;
        }

        .season-14-15 {
        stroke-width: 2.5px;
        }

        .wrapper {
        width: 830px;
        margin-left: 50px;
        margin-right: 80px;
        }

        .wrapper div {
        margin: 35px 0;
        }
    </style>

</head>

<body>

<div id="chart"></div>

<div class="wrapper">
    <div id="slider"></div>
</div>

<script src="http://d3js.org/d3.v3.js"></script>
<script src="{{ url_for('static', filename='js/d3.slider.js') }}"></script>

<script>

var margin = {top: 20, right: 80, bottom: 30, left: 50},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

var parseDate = d3.time.format("%m-%d").parse;

var x = d3.time.scale()
    .range([0, width]);

var y = d3.scale.linear()
    .range([height, 0]);

var color = d3.scale.linear()
    .rangeRound(['#e4e4e4', 'steelblue']);

var xAxis = d3.svg.axis()
    .scale(x)
    .tickFormat(d3.time.format("%B"))
    .orient("bottom");

// y-axis, left, no domain
var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left");

// generate line, mapping x to date and y to temp
var line = d3.svg.line()
    .interpolate("basis")
    .x(function(d) { return x(d.date); })
    .y(function(d) { return y(d.depth); });

var svg = d3.select("#chart").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

d3.json("{{ url_for('static', filename='snowdepth.json') }}", function(error, data) {
    var snowData,
        seasonDomain = [],
        season;

    snowData = data.data;

    snowData.forEach(function(d, i) {
        seasonDomain.push(i);
        d.values.forEach(function(value) {
            value.date = parseDate(value.date);
            if (value.date.getMonth() < 8) {
                value.date.setYear(1901);
            }
        })
    })
    color.domain(seasonDomain);

    x.domain(d3.extent(snowData[10].values, function(d) { return d.date; }))

    y.domain([0,
        d3.max(snowData, function(s) {
            return d3.max(s.values, function(d) { return d.depth; })
        })
    ])

    svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis);

    svg.append("g")
        .attr("class", "y axis")
        .call(yAxis)
        .append("text")
        .attr("transform", "rotate(-90)")
        .attr("y", 6)
        .attr("dy", ".71em")
        .style("text-anchor", "end")
        .text("Depth (inches)");

    season = svg.selectAll(".season")
        .data(snowData)
        .enter().append("g")
        .attr("class", "season");

    season.append("path")
        .attr("class", function(d) {
            return ("season-" + d.season.substring(1) + " line")
        })
        .attr("d", function(d, i) { return line(d.values); })
        .style("stroke", function(d, i) {
            if (d.season === "'14-15") {
                return "#635050";
            } else {
                return color(i);
            }
        })
        .on("click", function(d) {
            console.log(d.season);
        });

    makeSlider(snowData[0].season);
})

var makeSlider = function(firstDate) {
    var seasonScale = d3.time.scale()
        .domain([new Date(firstDate), new Date(2015,0,1)]);

    //console.log("seasonScale");
    //console.log("Domain: ", seasonScale.domain());
    //console.log("Range: ", seasonScale.range());

    var sliderAxis = d3.svg.axis()
        .scale(seasonScale)
        .ticks(10);

    //console.log("sliderAxis");
    //console.log("Domain: ", sliderAxis.scale().domain());
    //console.log("Range: ", sliderAxis.scale().range());
    //console.log("Ticks: ", sliderAxis.scale().ticks());

    var slider = d3.slider()
        .scale(seasonScale)
        .axis(sliderAxis)
        .value(seasonScale.domain());

    //console.log("scale: " + slider.scale());
    //console.log("axis: " + slider.axis());
    //console.log("value: " + slider.value());

    d3.select('#slider')
        .call(slider);
}

</script>
</body>
</html>
